.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.blackRow {
  background-color: #d8b2b2;
}
.whiteRow {
  background-color: rgb(110, 176, 233);
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(158, 58, 58);
  padding: 20px;
  color: rgb(12, 11, 11);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bolder;
}
.header-image {
  height: inherit;
  height: 8vh;
  float: left;
}

.App-header p {
  font-size: 2rem;
  font-family: "Metal Mania", cursive;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.card {
  margin: 7px;
  padding: 5px;
  background-color: ivory;
}
.card-body a {
  background-color: rgb(129, 71, 71);
  border-radius: 35px;
}

.footer {
  background-color: rgb(158, 58, 58);
  width: 100%;
}

.footer ul {
  list-style-type: none;
  text-align: center;
  margin: 0px;
}

.customerProfile {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
  text-align: center;
}

.card {
  width: 18rem;
}
